.column-shifter {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 4px 4px;
}

.column-shifter .action-button {
    background-color: var(--my-color);
    box-shadow: 0 3px 0 rgba(0,0,0,.2),
              0 3px 0 var(--my-color);
}

.column-shifter .action-button + .action-button {
    margin-left: 4px;
}