.column {
    min-width: 240px;
    max-width: 400px;
    width: 100%;
}

.column__header {
    display: flex;
    align-items: center;
    padding: 4px;
    height: 36px;
    color: var(--color-background);
    background-color: var(--my-color);
    border-radius: 2px;
    cursor: pointer;
}

.column__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    width: 100%;
    background: transparent;
    border-radius: 2px;
    transition: background-color 300ms ease;
}

.column__header:hover .column__title {
    background-color: rgba(255, 255, 255, 0.15);
}

.column__header .column__title > svg {
    color: transparent;
    transition: color 300ms ease;
}

.column__header:hover .column__title > svg {
    color: var(--my-color-light);
}

.column__title .icon {
    margin-right: 8px;
}

.column__title h2 {
    font-size: 1rem;
}

.column__cards {
    margin-top: 8px;
}

.column__cards .add-card {
    position: relative;
    width: 100%;
    height: 128px;
    border: 1px dashed var(--my-color);
    background-color: var(--color-background);
    border-radius: 2px;
    overflow: hidden;
    transition: background-color 300ms ease;
}

.column__cards .add-card:hover {
    background-color: var(--my-color-light);
}

.column__cards .add-card button {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    color: var(--my-color);
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 300ms ease;
}

.column__cards .add-card button:hover {
    transform: scale(1.1);
}