.time-trackers {
    width: 100%;
}

.time-tracker {
    display: flex;
    gap: 16px;
}

.time-tracker + .time-tracker {
    margin-top: 16px;
}

.time-tracker__columns {
    min-width: calc(50% - 8px);
}

.time-tracker__title {
    display: flex;
    align-items: center;
    padding: 8px;
    width: 100%;
    color: var(--color-background);
    background: var(--my-color);
    border-radius: 2px;
}

.time-tracker__title .icon {
    margin-right: 8px;
}

.time-tracker__title h2 {
    font-size: 1rem;
}

.time-tracker__columns .time-tracker__counter {
    display: flex;
    align-items: center;
    min-width: 104px;
}

.time-tracker__chart {
    position: relative;
    flex-grow: 1;
    margin-top: 16px;
}

.time-tracker__chart-label {
    position: relative;
    display: flex;
    gap: 8px;
    padding: 8px;
    color: var(--color-background);
}

.time-tracker__chart-label > * {
    width: 100%;
}

.time-tracker__chart-label h4 {
    text-align: right;
}

.time-tracker__chart-data {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    overflow: hidden;
}

.time-tracker__chart-data .bar-chart__bar {
    background-color: var(--my-color);
}