@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: hsl(184, 9%, 62%);
  --color-primary-light: hsl(192, 15%, 94%);
  --color-primary-dark: hsl(184, 6%, 53%);
  --color-text: #000;
  --color-background: #FFF;
  --color-success: #27ae60;
  --color-warning: #f39c12;
  --color-danger: #c0392b;

  --color-1: hsl(48, 89%, 50%);
  --color-2: hsl(145, 63%, 50%);
  --color-3: hsl(168, 76%, 42%);
  --color-4: hsl(204, 70%, 53%);
  --color-5: hsl(283, 39%, 53%);
  --color-6: hsl(6, 78%, 57%);
  --color-7: hsl(28, 80%, 52%);

  --my-color: var(--color-primary);
  --my-color-light: var(--color-primary-light);
  --my-color-dark: var(--color-primary-dark);
}

html,
input,
textarea,
select,
button {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1em;
  color: var(--color-text);
}

body {
  background-color: var(--color-background);
}

.color-1 {
  --my-color: var(--color-1);
  --my-color-light: hsl(48, 89%, 95%);
  --my-color-dark: hsl(48, 89%, 10%);
}

.color-2 {
  --my-color: var(--color-2);
  --my-color-light: hsl(145, 63%, 95%);
  --my-color-dark: hsl(145, 63%, 10%);
}

.color-3 {
  --my-color: var(--color-3);
  --my-color-light: hsl(168, 76%, 95%);
  --my-color-dark: hsl(168, 76%, 10%);
}

.color-4 {
  --my-color: var(--color-4);
  --my-color-light: hsl(204, 70%, 95%);
  --my-color-dark: hsl(204, 70%, 10%);
}

.color-5 {
  --my-color: var(--color-5);
  --my-color-light: hsl(283, 39%, 95%);
  --my-color-dark: hsl(283, 39%, 10%);
}

.color-6 {
  --my-color: var(--color-6);
  --my-color-light: hsl(6, 78%, 95%);
  --my-color-dark: hsl(6, 78%, 10%);
}

.color-7 {
  --my-color: var(--color-7);
  --my-color-light: hsl(28, 80%, 95%);
  --my-color-dark: hsl(28, 80%, 10%);
}

.success {
  --my-color: var(--color-success);
}

.warning {
  --my-color: var(--color-warning);
}

.danger {
  --my-color: var(--color-danger);
}