@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: hsl(184, 9%, 62%);
  --color-primary-light: hsl(192, 15%, 94%);
  --color-primary-dark: hsl(184, 6%, 53%);
  --color-text: #000;
  --color-background: #FFF;

  --my-color: var(--color-primary);
  --my-color-light: var(--color-primary-light);
  --my-color-dark: var(--color-primary-dark);
}

html,
input,
button {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1em;
  color: var(--color-text);
}

body {
  background-color: var(--color-background);
}

.color-1 {
  --my-color: hsl(48, 89%, 50%);
  --my-color-light: hsl(48, 89%, 95%);
  --my-color-dark: hsl(48, 89%, 10%);
}

.color-2 {
  --my-color: hsl(145, 63%, 50%);
  --my-color-light: hsl(145, 63%, 95%);
  --my-color-dark: hsl(145, 63%, 10%);
}

.color-3 {
  --my-color: hsl(168, 76%, 42%);
  --my-color-light: hsl(168, 76%, 95%);
  --my-color-dark: hsl(168, 76%, 10%);
}

.color-4 {
  --my-color: hsl(204, 70%, 53%);
  --my-color-light: hsl(204, 70%, 95%);
  --my-color-dark: hsl(204, 70%, 10%);
}

.color-5 {
  --my-color: hsl(283, 39%, 53%);
  --my-color-light: hsl(283, 39%, 95%);
  --my-color-dark: hsl(283, 39%, 10%);
}

.color-6 {
  --my-color: hsl(6, 78%, 57%);
  --my-color-light: hsl(6, 78%, 95%);
  --my-color-dark: hsl(6, 78%, 10%);
}

.color-7 {
  --my-color: hsl(28, 80%, 52%);
  --my-color-light: hsl(28, 80%, 95%);
  --my-color-dark: hsl(28, 80%, 10%);
}

.danger {
  --my-color: #c0392b;
}

.warning {
  --my-color: #f39c12;
}

.success {
  --my-color: #27ae60;
}

.action-button {
  padding: 9px 9px;
  font-weight: bold;
  color: var(--color-background);
  background-color: var(--color-primary);
  border: none;
  border-radius: 2px;
  box-shadow: 0 3px 0 rgba(0,0,0,.2),
              0 3px 0 var(--color-primary);
  cursor: pointer;
  transition: background-color 100ms ease,
              box-shadow 100ms ease,
              transform 100ms ease;
}

.action-button + .action-button {
  margin-left: 8px;
}

.action-button:hover {
  background-color: var(--my-color);
  box-shadow: 0 3px 0 rgba(0,0,0,.2),
              0 3px 0 var(--my-color);
}

.action-button:active {
  box-shadow: 0 0 0 rgba(0,0,0,.2),
              0 0 0 var(--my-color);
  transform: translateY(3px);
}

.action-button svg {
  margin-right: 8px;
}